@model FootballLeagueMvcProject.ViewModels.TeamsViewModel
@{
    ViewData["Title"] = "Команды";
}

<h3 class="p-2 bg-info text-white text-center">Список команд, учавствующих в соревновании</h3>

<hr />
@if (User.IsInRole("Admin"))
{
    <div class="my-3 text-right">
        <a asp-action="AddTeamToCompetition" asp-controller="Competition" asp-route-id="@Model.ChampionshipId"><div class="btn btn-danger">Заявить команду</div></a>
    </div>
}
<div class="table-responsive">
    <table class="table table-bordered table-dark table-hover text-center">
        <thead>
            <tr>
                <th scope="col">Лого команды</th>
                <th scope="col">Имя команды</th>
                @if (User.IsInRole("Admin"))
                {
                    <th scope="col">Удалить команду из текущего соревнования</th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.TeamViewModels.Count() == 0)
            {
                <tr>
                    <th class="align-middle" colspan="3">
                        <p class="bg-secondary p-2">
                            Пока ещё никто не учавствует в данном соревновании
                        </p>
                    </th>
                </tr>
            }
            else
            {
                @foreach (var item in Model.TeamViewModels)
                {
                    var logoPath = "~/teamlogos/" + item.Logo;
                    <tr>
                        <th class="align-middle"><a asp-controller="Team" asp-action="Profile" asp-route-id="@item.TeamId"><img src="@logoPath" asp-append-version="true" height="50" /></a></th>
                        <th class="align-middle"><a asp-controller="Team" asp-action="Profile" asp-route-id="@item.TeamId" class="text-white">@item.Name</a></th>
                        @if (User.IsInRole("Admin"))
                        {
                            <th class="align-middle">
                                <form method="post" asp-controller="Competition" asp-action="Untie">
                                    <input hidden name="TeamId" value="@item.TeamId">
                                    <input hidden name="CompetitionId" value="@Model.ChampionshipId" />
                                    <button type="submit" class="btn btn-info">Отзаявить команду</button>
                                </form>
                            </th>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


